.projectCard {
    background-color: #FFF;
    min-width: 311px;
    width: 311px;
    height: max-content;
    border: solid 1px #30475E;

    // PROJECT IMAGE
    .projectImageWrap {
        width: 100%;
        height: 211px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .2s ease-in-out;
        }
    }

    // PROJECT TECHNOLOGIES
    .project_technologies {
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 8px;
        text-transform: uppercase;
        font-family: "Raleway";
        font-weight: 500;
        font-size: 0.85rem;
        color: #1F8A70;
        border-top: solid 1px #30475E;
    }

    // PROJECT DESCRIPTION 
    .project_Description {
        width: 100%;
        border-top: solid 1px #30475E;
        gap: 16px;
        padding: 16px;
        font-family: "SpaceMono";
        text-transform: uppercase;
        font-size: .75rem;

        p {
            font-size: .8rem;
            color: gray;
        }
    }

    &:hover {
        img {
            width: 110%;
            height: 110%;
        }
    }

    // PROJECT LINK BUTTON
    .project_Link {
        display: flex;
        gap: 16px;
        padding: 10px;

        a {
            text-decoration: none;

            button {
                height: 37px;
                display: flex;
                align-items: center;
                padding: 0 16px;
                background-color: transparent;
                border: solid 1px #30475E;
                transition: .2s ease-in-out;

                svg {
                    width: 21px;
                    height: 21px;
                    margin-left: 7px;
                }

                &:hover {
                    background-color: #30475E;
                    color: #FFF;
                    fill: #FFF;
                }
            }
        }
    }
}