.resume {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 790px;
    font-size: 2rem;
    font-family: sans-serif;

    a {
        padding: 0 15px;
        color: #d22;
    }
}