#header {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 61px;
}
.TITLE {
    color: #2b3442;
    font-family: "SpaceMono";
    font-weight: 600;
    text-transform: uppercase;
}
