* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SpaceMono";
    src: url("./assets/fontFamily/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("./assets/fontFamily/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "FiraCode";
    src: url("./assets/fontFamily/FiraCode-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("./assets/fontFamily/Montserrat-VariableFont_wght.ttf");
}
