.portfolioApp {
    width: 100%;
    height: max-content;
    padding: 113px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .projectTitle {
        margin-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .container {
            width: 70%;
            display: flex;
            align-items: center;
        }

        h1 {
            font-family: "SpaceMono";
            padding-right: 25px;
        }

        .projectLine {
            width: 100%;
            height: 2px;
            background-color: #30475E;
        }



        a {
            padding: 0 11px;
            font-size: 0.95rem;
            text-decoration: none;
            color: #222;
            display: flex;
            align-items: center;
            width: max-content;
            font-family: "Montserrat";
            font-weight: 500;

            .viewAll {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                text-transform: uppercase;
                margin-left: 10px;

            }

            svg {
                width: 24.5px;
                height: 24.5px;
                transform: rotate(45deg);
            }
        }
    }


    // PROJECT CARDS WRAPPER
    .projectWrapper {
        min-width: 1070px;
        max-width: 1070px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 48px;
        flex-wrap: wrap;
    }
}